<?xml version="1.0"?>

<model>
  <name>Obstaculo</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Frazhy</name>
    <email>maxrexr7@gmail.com</email>
  </author>

  <description>
    Obstaculo creado para que el robot lo evite
  </description>
</model>